@media (max-width: 767px) {
  .logoShieldContainer {
    background-color: #2c75ff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ourSpecialtyStepsParentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(8.8rem, 18vw, 100rem);
    gap: 2rem;
  }

  .ourSpecialtyStepsParentDiv h3 {
    margin: 0;
    color: rgb(75, 75, 75);
    font-size: clamp(1.13rem, 1.85vw, 100rem);
  }

  .ourSpecialtyStepsParentDiv p {
    margin: 0;
    color: rgb(75, 75, 75);
    font-size: clamp(0.85rem, 1.55vw, 100rem);
  }

  .ourSpecialtyStepsParentDiv > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .ourSpecialtyStepsParentDiv h1 {
    margin: 0;
    background: linear-gradient(to bottom, rgb(75, 75, 75), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .logoShieldContainer {
    background-color: #2c75ff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ourSpecialtyStepsParentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .ourSpecialtyStepsParentDiv h3 {
    margin: 0;
    color: rgb(75, 75, 75);
    font-size: clamp(1.16rem, 1.85vw, 100rem);
  }

  .ourSpecialtyStepsParentDiv p {
    margin: 0;
    color: rgb(75, 75, 75);
    font-size: clamp(0.85rem, 1.55vw, 100rem);
  }

  .ourSpecialtyStepsParentDiv > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .ourSpecialtyStepsParentDiv h1 {
    margin: 0;
    background: linear-gradient(to bottom, rgb(75, 75, 75), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6vw;
  }
}
@media (min-width: 1024px) {
  .logoShieldContainer {
    background-color: #2c75ff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ourSpecialtyStepsParentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .ourSpecialtyStepsParentDiv h3 {
    margin: 0;
    color: rgb(75, 75, 75);
  }

  .ourSpecialtyStepsParentDiv p {
    margin: 0;
    color: rgb(75, 75, 75);
  }

  .ourSpecialtyStepsParentDiv > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .ourSpecialtyStepsParentDiv h1 {
    margin: 0;
    background: linear-gradient(to bottom, rgb(75, 75, 75), white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
  }
}
