*{
    font-family: 'Barlow';
}

.price-holder{
    width: 28%;
}
.price-parent{
    justify-content: center;
}


@media (max-width: 960px) {
    .price-holder{
        width: 50%;
        border-radius: 5px;
        margin-bottom:5px;
    }
  }